@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*@section Header
{
        <nav class="navbar navbar-light bg-light justify-content-between fixed-top">
            <a href="/Home/Index" class="navbar-brand" style="color:#F3533B;">АНТИКонтрафакт</a>
            <span style="margin-right: 10px;">
                <a href="/Home/Account">
                    <img src="~/App_Data/person-circle.svg">
                </a>
            </span>
        </nav>
}*@