@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Авторизация</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a href="/Home/Index" class="navbar-brand" style="color:#F3533B;">АНТИКонтрафакт</a>
            <span style="margin-right: 10px;">
                <a href="/Home/Account">
                    <img src="~/HTML-Страницы/merge/person-circle.svg">
                </a>
            </span>
        </nav>
    </header>

    <h1>АВТОРИЗАЦИЯ</h1>

    <div class="container-fluid red">
        <div class="row">
            <fieldset class="password-fieldset">
                @using (Html.BeginForm())
                {
                   
                   <input type="email" class="password-field" name="Email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите почту">
                   <input type="password" class="password-field" name="Password" id="exampleInputPassword1" placeholder="Пароль...">
                        <label>
                            @{try
                                { @ViewBag.Name;
                            }
                            catch { }}
                        </label>
                        <p>
                            <button type="submit" class="login-button">Войти</button>
                         </p>
                }
                <p>
                    <button class="login-button" onclick="location.href='/Home/Registration';">Регистрация</button>
                    <button class="login-button">Забыли пароль?</button>
                </p>
            </fieldset>
        </div>

    </div>
    <footer></footer>
</body>
</html>
