@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Информация продукта</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a href="/Home/Index" class="navbar-brand" style="color:#F3533B;">АНТИКонтрафакт</a>
            <span style="margin-right: 10px;">
                <a href="/Home/Account">
                    <img src="~/HTML-Страницы/merge/person-circle.svg">
                </a>
            </span>
        </nav>
    </header>


    <h1>ИНФОРМАЦИЯ О ПРОДУКТЕ</h1>
    <div class="container-fluid">
        <div class="row">
            <div class=" col-12">
                <div class="form-group">
                    <h3>
                        Штрих-код:
                        @{@ViewBag.Barcode;}
                    </h3>
                </div>
                <div class="form-group">
                    <label> Фальсификат:</label>
                    <label> @{@ViewBag.Good;}</label>
                </div>
                <div class="form-group">
                    <label> Страна производитель:</label>
                    <label>  @{@ViewBag.Country;} </label>
                </div>
                <div class="form-group">
                    <label> Доп. информация о продукте:</label>
                    <label>@{@ViewBag.DopInfo; } </label>
                </div>
            </div>
        </div>
    </div>


</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</html>
